{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block content %}
    <div class="container content">

        <div class="row">
            <div class="twelve columns">
                <h2>Payments</h2>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <table class="u-full-width compact">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="currency">Amount</th>
                            <th>Date</th>
                            <th>Repeat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in payments %}
                        {% set minus = '-' %}
                        {% set action = '' %}
                        {% if p.action == 1 %}
                            {% set minus = '' %}
                            {% set action = 'credit' %}
                        {% endif %}
                        <tr>
                            <td>{{ p.name }}</td>
                            <td class="currency {{ action }}">{{ minus ~ p.amount|format_nzd }}</td>
                            <td>{{ moment(p.date).format('DD/MM/YYYY') }}</td>
                            <td>{{ repeat[p.repeat] }}</td>
                            <td><a href="{{ url_for('expense_edit', expense_id=p.id, action='delete') }}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <form action="{{ url_for('index') }}" method="POST" name="create-payment">
                <div class="two columns">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.payment_name,
                                    class="u-full-width",
                                    maxlength="128",
                                    placeholder="e.g. Rent") }}
                </div>
                <div class="two columns">
                    {{ render_field(form.payment_amount,
                                    class="u-full-width",
                                    maxlength="16",
                                    placeholder="0.00") }}
                </div>
                <div class="two columns">
                    <label for="datepicker">Date</label><span class="required"> *</span>
                    <input name="payment_date" id="datepicker" class="u-full-width" maxlength="128" name="datepicker" type="text" value="" placeholder="DD/MM/YYYY">
                </div>
                <div class="two columns">
                    {{ render_field(form.payment_repeat,
                                    class="u-full-width") }}
                </div>
                <div class="two columns">
                    {{ render_field(form.payment_action,
                                    class="u-full-width") }}
                </div>
                <div class="two columns">
                    <label>&nbsp;</label>
                    <input type="submit" name="save" value="Save" class="u-full-width button button-primary">
                </div>
            </form>
        </div>

        <div class="row form-section">
            <div class="three columns position">
                <p>This month</p>
                <p>
                    <span class="subtext">Income</span>
                    <span class="value credit">${{ income_this_month|format_nzd }}</span>

                    <span class="subtext">Expenses</span>
                    <span class="value debit">${{ expenses_this_month|format_nzd }}</span>

                    <span class="subtext">Unallocated</span>
                    <span class="value">${{ (income_this_month - expenses_this_month)|format_nzd }}</span>
                </p>
            </div>
            <div class="three columns position">
                <p>This year</p>
                <p>
                    <span class="subtext">Income</span>
                    <span class="value credit">${{ income_this_year|format_nzd }}</span>

                    <span class="subtext">Expenses</span>
                    <span class="value debit">${{ expenses_this_year|format_nzd }}</span>

                    <span class="subtext">Unallocated</span>
                    <span class="value">${{ (income_this_year - expenses_this_year)|format_nzd }}</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
