{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout_auth.html" %}

{% block page %}
    <div class="container content">
        {% if not email_sent %}
            {% from "forms/_formhelpers.html" import render_field %}
            <form action="{{ url_for('sign_up') }}" method="POST" name="signup">
                <div class="row form-section">
                    <div class="twelve columns">
                        <h2>Create account</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.name, autofocus="", spellcheck="false", class="u-full-width", placeholder="your real name", required="") }}
                        {{ render_field(form.email, type="email", spellcheck="false", class="u-full-width", placeholder="you@example.com", required="") }}
                        {{ render_field(form.password, class="u-full-width", minlength=8, placeholder="at least 8 characters", required="") }}
                        {{ render_field(form.confirm, class="u-full-width", minlength=8, required="") }}
                        <input type="submit" value="Create account" class="u-full-width u-pull-right button-primary">
                        <p class="u-cf">
                            Already have an account?&nbsp;&nbsp;<a href="{{ url_for('login') }}">Sign in</a><br />
                        </p>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row">
                <div class="twelve columns">
                    <p>
                        A email has been sent to <strong>{{ email }}</strong>.&nbsp;&nbsp;Please click the link in that email to continue.
                    </p>
                    <p>
                        Can't find the email?&nbsp;&nbsp;Check your spam folder then <a href="{{ url_for('resend_register_email', email=email) }}">try resending</a> if it hasn't arrived after a few minutes.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}