<p>
       You received this email because someone tried to register a new account with budgeting app using the email <strong>{{ email }}</strong>.
</p>
<p>
       You already have an account with us using that email address.  If you're unable to login, you can <a href="{{ link }}" target="_blank">reset your passphrase</a> to regain access.
</p>
<p>
       If you did <strong>not</strong> try to register a new account, just ignore this email.
</p>
