body {
    background-color: #FFF;
}
@font-face {
    font-family:'OpenSans';
    src:url('opensans-webfont.eot');
    src:url('opensans-webfont.eot?#iefix') format('embedded-opentype'),url('opensans-webfont.woff') format('woff'),url('opensans-webfont.ttf') format('truetype'),url('opensans-webfont.svg#open_sans') format('svg');
}


/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {line-height: 1.54;}

h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}

h1 p {
    margin-top: 2rem;
}

.cancel:hover {background-color: rgba(237,34,0,.8)}
.cancel:hover {color: #FFF;}

.subtext {
    font-size: 95%;
    color: #444;
}

.lighter {color: #555;}
.larger {font-size: 2rem;}
.centered {text-align: center;}

.actions a {margin-right: 1rem;}
.actions a.u-pull-right {
    margin-right: 0;
    margin-left: 1rem;
}
.identifier {
    font-family: monospace;
    font-size: 1.6rem;
}

/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sidebar {
    color: #FFF;
    position: absolute;
    left: 0;
    height: 100%;
    min-width: 160px;
    background-color: rgba(18,32,49,1);
    border-right: 1px solid rgba(18,32,49,1);
}
#sidebar a {color: #FFF;}
#sidebar a:visited {color: #FFF;}
#sidebar ul {
    list-style-type: none;
    margin: 3rem 2.5rem 0;
}
#sidebar li:first-of-type {
    margin-bottom: 2rem;
}

/* Layout templates
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.block{
    padding: 80px 0;
}
.block h2 {
    text-align: center;
}

.bg-colour-navy {
    color: #FFF;
    background-color: rgba(18,32,49,1);
}

.highlight {
    margin: 2rem 0;
    padding: 4rem 0 2rem;
    color: #FFF;
    text-align: center;
}

.secondary-nav {
    background-color: rgba(18,32,49,1);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-align: center;
}
.secondary-nav a {
    text-align: center;
    display: inline-block;
    color: rgba(255,255,255,.6);
    text-decoration: none;
    padding: 1rem 0;
    margin: 0 2rem;
}
.secondary-nav a:first-of-type {margin-left: 0;}
.secondary-nav a:hover, .secondary-nav a.focus {
    color: #FFF;
}

.content {
    margin-top: 2rem;
}

/* Inset form elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-section {
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #E9E9E9;
}

/* Flashed messages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.messages {
    background-color: rgba(254,229,96,.4);
    border: 1px solid rgba(241,194,37,.4);
    padding: 1rem;
}
.messages ul {
    list-style-type: none;
    margin-bottom: 0;
}
.messages li, .messages p {
    margin-bottom: 0;
}
.finished {
    background-color: #EEE;
    border: 1px solid #AAA;
}
.information {
    background-color: rgba(0,124,196,.1);
    border: 1px solid rgba(0,124,196,.4);
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.position {
    text-align: center;
}
.value {
    display: block;
    font-weight: 800;
    font-size: 100%;
    margin-bottom: 1rem;
}
.credit {
    color: rgba(5,164,116,1);
}
.debit {
    color: rgba(230,41,127,1);
}

.compact {
    margin-bottom: 0;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
    display: inline-block;
}
.required {
    /*color: rgba(237,34,0,1);*/
}
input[type="radio"],
input[type="checkbox"]{
    position:relative; 
    top:3px;
    margin:0 1rem 0 0;
}
input[disabled=""] {
    color: #666;
    background-color: #EEE;
}

.errors {
    list-style-type: none;
    font-size: 1.4rem;
    color: #FF0000;
}

.account_nav {list-style-type: none;}
.currency {text-align: right;}

/* Styleguide
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.swatch {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.text-colour {background-color: #222;}
.secondary-text-colour {background-color: #555;}
.page-colour {
    background-color: #FAFAFA;
    border: 1px solid #dee0e2;
}

.link-colour {background-color: #15548E;}
.link-hover-colour {background-color: #5E9FE3;}
.link-visited-colour {background-color: #655F9D;}

.border-colour {background-color: #CCC;}

.button-colour {background-color: rgba(254,229,96,1);}

.green {background-color: #2F8533;}
.light-green {background-color: #A4DFB4;}
.light-blue {background-color: #DFEBF3;}
