<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta description="Budgeting" />
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}?200217">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?060517">
        <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
        <title>{{ title }}</title>
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    </head>
    <body>
        <div id="sidebar">
            <ul>
            {% if g.user.is_authenticated %}
                <li class="user">{{ g.user.email }}</li>
                <li>
                    <a href="{{ url_for('index') }}">Payments</a>
                </li>
                <li>
                    <a href="{{ url_for('change_password') }}">Change password</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            {% else %}
                <a href="{{ url_for('login') }}" class="sidebar-link u-pull-right">Log in</a>
                <a href="{{ url_for('sign_up') }}" class="button button-primary u-pull-right header-link">Sign up</a>
            {% endif %}
            </ul>
        </div>
        <div class="container">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="twelve columns messages">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message | safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block content %}{% endblock %}
        <script>window.Zepto || document.write('<script src="{{ url_for('static', filename='zepto.min.js') }}">\x3C/script>')</script>
        <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/pikaday.js') }}"></script>
        <script>
            var picker = new Pikaday({
                field: document.getElementById('datepicker'),
                firstDay: 1,
                minDate: new Date(),
                maxDate: new Date(2020, 12, 31),
                yearRange: [2000,2020],
                format: 'DD/MM/YYYY',
                numberOfMonths: 2,
            });
        </script>
    </body>
</html>
